$font-stack:Helvetica, Arial, Sans-Serif;
$yellow:#F8CA00;
$purple:#490A3D;
$pink:#BD1550;
$green:#8A9B0F;

//color palette: http://www.colourlovers.com/palette/848743/(%E2%97%95_%E2%80%9D_%E2%97%95)

@import "normalize-min.scss";
@import "borderbox-and-clearfix";

body {
	color:#FFF;
	font-family:$font-stack;
	background-color:$yellow;
}

.videoBtn {
	display:none;
	border:none;
}

.showVideo {
	background-color: #222;
	.main {
		padding:5% 0;
		p, form {
			display:none;
		}
		.videoBox {
			display:block;
			margin:0 10%;
		}
	}
	.videoBtn {
		display:inline-block;
		margin-top:3%;
		margin-bottom:10%;
		border:none;
		color: #FFF;
		a {
			color:#BD1550;
			text-decoration: none;
			display: inline-block;
			padding: 0.8em 1em;
		}
	}
}

header {
	padding: 5% 0 4% 0;
	h1 {
		display:inline-block;
		font-size:7.5em;
		font-family: Bangers;
		vertical-align: top;
		a {
			color: #FFF;
			text-decoration: none;
		}
	}
}

.main {
	text-align:center;
	padding:8% 0 15% 0;
	.videoBox {
		display:none;
	}
	p {
		margin:0;
		font-size:2.3em;
		padding-bottom: 3%;
	}

	form {
		input {
			padding: 0.8em 1em;
			color:$pink;
			border:none;
			background-color:#FFF;
			border-radius:0;
		}
		input[type="search"]{
			color:#FFF;
			width: 30%;
			transition: background-color 0.5s;
			margin-right: 1%;
			&:focus {
				outline:none;
				background-color: #bd1550;
			}
		}
		::-webkit-input-placeholder {
		   color: #BFBFBF;
		   text-align: center;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #BFBFBF;  
		   text-align: center;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #BFBFBF;  
		   text-align: center;
		}

		:-ms-input-placeholder {  
		   color: #BFBFBF;  
		   text-align: center;
		}
	}
}

.button {
	background-color:#FFF;
	transition: all 0.5s;
	border-radius:0;
	&:hover{
		background-color: $purple;
		color:#FFF; 
	}
}

footer {
	font-size:1.2em;
	p {
		text-align: center;
		padding:3em 0;
		margin:0;
	}
	a {
		text-decoration: none;
		color:$green;
		font-weight: bold;
	}
	#share {
		margin:10% auto 0;
	}
}

svg {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	margin-left: 3%;
	fill:#FFF;
	#one {
		-webkit-transition: fill 0.5s;
		-moz-transition: fill 0.5s;
		-o-transition: fill 0.5s;
		transition: fill 0.5s;
		fill:#FFF;
		&:hover {
			fill:$green; 
		}
	}

	#two {
		-webkit-transition: fill 0.5s;
		-moz-transition: fill 0.5s;
		-o-transition: fill 0.5s;
		transition: fill 0.5s;
		fill:#FFF;
		&:hover {
			fill:$pink;
		}
	}

	#three {
		-webkit-transition: fill 0.5s;
		-moz-transition: fill 0.5s;
		-o-transition: fill 0.5s;
		transition: fill 0.5s;
		fill:#FFF;
		&:hover {
			fill:$purple;
		}
	}
}


//****************
//MEDIA QUERIES 
//****************

//Portrait tablet and small desktops
@media (max-width:940px) {
	.main {
		p {
			font-size: 2em;
		}
		form {
			input[type="search"] {
				width: 40%;
			}
		}	
	}
}

//Landscape phones and down

@media (max-width:480px) {
	.main {
		margin-bottom: 20%;
		form {
			input[type="search"] {
				width: 85%;
				margin:0 auto 5%;
			}
			input[type="submit"] {
				width: 40%;
			}
		}
	}
	svg {
		margin:0 auto;
		display: block;
	}
	header {
		h1 {
			font-size: 5em;
			text-align: center;
			display:block;
		}
	}

}
